* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/*body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}*/

p {
    color: #707070;
}



.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

/* hamburger menu */


/*
*/

.header-img {
    width: 60px;
}

#menu-btn {
    opacity: 0;
}

.menu-box {
    display: flex;
    justify-content: flex-end;
}

.header-menu-iteam {
    list-style-type: none;
}

.header-menu-iteam a {
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
}

.headet-menu-iteam a:hover {
    color: rgb(231, 10, 84);
}

.first-page {
    display: flex;
    height: 662px;
}

.head-name-left{
    display: flex;
    align-items: center;
    width: 50%;
    color: #fff;
    background: rgb(9,101,130);
    background: linear-gradient(0deg, rgba(9,101,130,1) 0%, rgba(45,150,253,1) 70%);
}

.inside-head-name {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.inside-head-name p {
    margin-top: 20px;
    color: white;
}

.care-hospital {
    font-size: 70px;
}

.head-name-right{
    width: 50%;
    background-image: url("img/hospital.jpg");
}

.head-name-right h1 {
    display: none;
}

.registration {
    padding: 60px 0;
    background-color: #2d96fd;
}

.text-registration {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    color: white;
}

.btn-registration{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.btn-registration:hover {
    background-color: #000;
    color: #fff;
}

.chose-hospital {
    padding: 80px 0;
    background-color: #f5f7fa;
}

.chose-hospital-inside {
    width: 90%;
    margin: 0 auto;
}

.title-chose {
    text-align: center;
}

.title-chose h2 {
    font-size: 36px;
}

.information {
    display: flex;
    margin: 50px 0 0 0;
}

@media(min-width: 901px){
.reason-v1 {
    display: flex;
}

.reason-v2 {
    display: flex;
}
}

/* need reason-1 ... reason-4 */
/* need fix*/
.reason-1, .reason-2, .reason-3, .reason-4  {
    padding: 20px;
}

.text-center {
    text-align: center;
}

.stethoscope-img {
    text-align: center;
}

.doctor-img {
    text-align: center;
}

.nurse-img {
    text-align: center;
}

.information h3 {
    text-align: center;
    margin: 20px 0 10px 0;
}

.info-contact{
    padding: 20px 0 80px 0;
}
.contact-us {
    width: 85%;
    margin: 0 auto;
}

.contact-us-info{
    text-align: center; 
    margin-bottom: 25px;
    font-size: 35px;
}

.paragraf-contact {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 70px;
    text-align: center;
    color: #707070;
}

.room-img {
    width: 10%;
    margin-bottom: 10px;
}

.phone-img {
    width: 10%;
    margin-bottom: 10px; 
}

.mail-img {
    width: 10%;
    margin-bottom: 10px;
}

.icons{ 
    width: 100%;
}

.icons {
    display: flex;
}

.room-icon{
    width: 33%;
    text-align: center;
}

.phone-icon {
    width: 33%;
    text-align: center;
}

.mail-icon {
    width: 33%;
    text-align: center;
}

.mail-icon a {
    text-decoration: none;
    color: #000;
}

footer {
    padding: 30px 0;
}


/*start quote*/

.quote {
    padding: 60px 0;
}

.quote-inside {
    width: 90%;
    margin: 0 auto;
}

.quote-inside h2 {
    font-size: 35px;
    padding-bottom: 50px;
    text-align: center;
}

.client {
    display: flex;
}

.first-client {
    display: flex;
    width: 50%;
}
.first-client p {
    padding: 20px 30px;
}

.img-client-1 {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 2px solid gray;
}

.second-client {
    display: flex;
    width: 50%;
}

.second-client p {
    padding: 20px 30px;
}

.img-client-2 {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 2px solid gray;
}

/*end quote*/

footer { 
    background-color: #383838;
}

footer h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.footer-menu-wrap {
    display: flex;
    justify-content: center;
}

.footer-menu-item {
    list-style: none;
}

.footer-menu-item a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

.footer-menu-item a:hover{
    color: #c2bdbd;
}

.bottom-footer {
    color: #fff;
    margin-top: 10px;
    text-align: center;
}

.bottom-footer a {
    text-decoration: none;
    color: #fff;
}

.reference {
    text-align: center;
    margin: 15px 0;
}

.reference a {
    margin: 0 10px;
    text-decoration: none;
}

.reference img:hover {
    transform: scale(1.2);
    border-radius: 50%;
}

.bottom-footer a:hover {
    color: #c2bdbd;
}

@media (max-width: 600px) {
    .head-name-left {
        display: none;
    }

    .first-page .head-name-right {
        height: 662px;
    }

    .head-name-right h1 {
        display: flex;
        justify-content: center;
    }

    .text-registration h1 {
        text-align: center;
    }
    

    .information{
        flex-flow: column;
    }

    .info-hospital-inside{
        flex-flow: column;
    }

    .icons {
        flex-flow: column;
        align-items: center;
    }

    .room-icon {
        width: 50%;
    }

    .phone-icon {
        margin-top: 20px;
        width: 50%;
    }

    .mail-icon {
        margin-top: 20px;
        width: 50%;
    }



    .paragraf-contact {
        margin-bottom: 40px;
    }

    .text-registration{
        flex-flow: column;
    }

    .register {
        margin: 40px 0 0 0;
    }

    /*hfmburger*/
}


@media (max-width: 900px){
    .first-page {
        flex-flow: column;
    }

    .head-name-left {
        width: 100%;
        padding: 50px 0;
    }

    .head-name-right{
        height: 360px;
        width: 100%;
    }

    .header-paragraph {
        display: none;    
    }

    .client{
        flex-flow: column;
    }

    .first-client {
        flex-flow: column;
        width: 100%;
    }

    .first-client p {
        margin-top: 20px; 
        text-align: center;
    }

    .img-client-1 {
        display: flex;
        margin: 0 auto;
    }

    .second-client{
        flex-flow: column;
        width: 100%;
    }

    .second-client p {
        margin-top: 20px;
        text-align: center;
    }

    .img-client-2 {
        display: flex;
        margin: 0 auto;
    }
}


/*hamburger menu */
@media (max-width: 600px){

.menu-icon {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
}

.menu-icon > span,
.menu-icon > span::before,
.menu-icon > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: black;
}

.menu-icon > span::before {
    content: '';
    top: 8px
}

.menu-icon > span::after{
    content: '';
    top: -8px;
}

.menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.header-menu-iteam a {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

#menu-btn:checked ~ .menu-icon > span {
    transform: rotate(45deg);
}

#menu-btn:checked ~ .menu-icon > span::before {
    top: 0;
    transform: rotate(0);
}

#menu-btn:checked ~ .menu-icon > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu-btn:checked ~ .menu-box {
    visibility: visible;
    right: 0;
}
}