:root{
    --dim-gray: #707070;
    --black: #000000;
    --white: #ffffff;
    --dodger-blue: #2d96fd;
    --alice-white: #f5f7fa;
    --eclipse: #383838;
    --silver: #c2bdbd;
    --night-rider: #333333;
    --razzmatazz: #e70a54;
    --allports: #096582;
    --red: #ff0000;
    --nero: #1a1a1a;
    --whisper: #e5e5e5;
    --charcoal: #444444;
    --matterhorn: #555555;
    --snow: #fafafa;
}