@import "/style/root.css";

* {
  margin: 0;
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--gray800);
}

header {
  background-color: var(--white);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.header-img {
  width: 60px;
}

#menu-btn {
  opacity: 0;
}

.menu-box {
  display: flex;
  justify-content: flex-end;
}

.header-menu-iteam {
  list-style-type: none;
}

.header-menu-iteam a {
  padding: 10px 20px;
  text-decoration: none;
  color: var(--black);
}

.headet-menu-iteam a:hover {
  color: var(--red100);
}

.first-page {
  display: flex;
  height: 662px;
}

.head-name-left {
  display: flex;
  align-items: center;
  width: 50%;
  color: var(--white);
  background: var(--blue100);
  background: linear-gradient(
    0deg,
    rgba(9, 101, 130, 1) 0%,
    rgba(45, 150, 253, 1) 70%
  );
}

.inside-head-name {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.inside-head-name p {
  margin-top: 20px;
  color: var(--white);
}
.danger {
  display: flex;
  align-items: center;
  color: var(--red);
  width: 100%;
  height: 50px; /*need fix height*/
  justify-content: center;
  text-transform: uppercase;
}

.regist {
  max-width: 800px;
  margin: 0 auto;
}

.regist-header {
  background-color: var(--black);
  padding: 20px 0;
  border-radius: 20px 20px 0 0;
}

.regist-title {
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
}

.information {
  box-shadow: 0 0 10px #00000080;
  padding: 50px 80px;
  background-color: var(--white);
  border-radius: 0 0 20px 20px;
}

.enter {
  width: 100%;
  border: none;
  background-color: var(--gray700);
  line-height: 50px;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 20px;
  color: var(--gray300);
}

.input-group {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

.name {
  width: 100px;
  font-size: 16px;
  color: var(--gray400);
  font-weight: 700;
}

.sign-up {
  text-transform: uppercase;
  color: var(--gray100);
  background-color: var(--blue);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 15px 50px;
}

input {
  outline: none;
}

footer {
  padding: 30px 0;
  background-color: var(--gray200);
  flex: 0 0 auto;
}

.footer-title {
  color: var(--white);
  text-align: center;
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-item {
  list-style: none;
}

.footer-item a {
  text-decoration: none;
  color: var(--white);
  margin: 0 10px;
}

.footer-item a:hover {
  color: var(--gray600);
}
.bottom-footer {
  color: var(--white);
  margin-top: 10px;
  text-align: center;
}

.git-link {
  text-decoration: none;
  color: var(--white);
}

.socials {
  text-align: center;
  margin: 15px 0;
}

.socials-link {
  margin: 0 10px;
  text-decoration: none;
}

.socials-img:hover {
  transform: scale(1.2);
  border-radius: 50%;
}

.git-link:hover {
  color: var(--gray600);
}

@media (max-width: 600px) {
  .menu-icon {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
  }

  .menu-icon > span,
  .menu-icon > span::before,
  .menu-icon > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: var(--black);
  }

  .menu-icon > span::before {
    content: "";
    top: 8px;
  }

  .menu-icon > span::after {
    content: "";
    top: -8px;
  }

  .menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: var(--gray900);
    box-shadow: 1px 0px 6px #00000033;
  }

  .header-menu-iteam a {
    display: block;
    padding: 12px 24px;
    color: var(--gray100);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  #menu-btn:checked ~ .menu-icon > span {
    transform: rotate(45deg);
  }

  #menu-btn:checked ~ .menu-icon > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu-btn:checked ~ .menu-icon > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu-btn:checked ~ .menu-box {
    visibility: visible;
    right: 0;
  }

  .regist-header {
    border-radius: 0;
    padding: 20px 0;
  }

  .regist .information {
    padding: 20px 30px;
    border-radius: 0;
  }

  .sign-up {
    width: 100%;
  }
}
