@import "/style/root.css";

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/*body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}*/

p {
  color: var(--gray35);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.logo {
  width: 60px;
}

#menu-btn {
  opacity: 0;
}

.menu-box {
  display: flex;
  justify-content: flex-end;
}

.header-menu-iteam {
  list-style-type: none;
}

.header-menu-iteam a {
  padding: 10px 20px;
  text-decoration: none;
  color: var(--black);
}

.headet-menu-iteam a:hover {
  color: rgb(231, 10, 84);
}

.first-page {
  display: flex;
  height: 662px;
}

.head-left {
  display: flex;
  align-items: center;
  width: 50%;
  color: var(--white);
  background: linear-gradient(
    0deg,
    rgba(9, 101, 130, 1) 0%,
    rgba(45, 150, 253, 1) 70%
  );
}

.slogan {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.subtitle {
  margin-top: 20px;
  color: var(--white);
}

.care-hospital {
  font-size: 70px;
}

.head-right {
  width: 50%;
  background-image: url("/img/hospital.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.head-right h1 {
  display: none;
}

.registration {
  padding: 60px 0;
  background-color: var(--blue);
}

.text-registration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  color: var(--white);
}

.btn-registration {
  background-color: var(--white);
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: var(--black);
  font-size: 20px;
}

.btn-registration:hover {
  background-color: var(--black);
  color: var(--white);
}

.chose-hospital {
  padding: 80px 0;
  background-color: var(--gray55);
}

.chose-hospital-inside {
  width: 90%;
  margin: 0 auto;
}

.title-chose {
  text-align: center;
}

.title-chose h2 {
  font-size: 36px;
}

.information {
  display: flex;
  margin: 50px 0 0 0;
}

/* need reason-1 ... reason-4 */
/* need fix*/
.content {
  padding: 20px;
}

.text {
  text-align: center;
}

.center-content{
  text-align: center;
}

.information h3 {
  text-align: center;
  margin: 20px 0 10px 0;
}

.feedback {
  padding: 20px 0 80px 0;
  background-color: var(--gray55);
}
.contact-us {
  width: 85%;
  margin: 0 auto;
}

.contact-us-info {
  text-align: center;
  margin-bottom: 25px;
  font-size: 35px;
}

.paragraf-contact {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 70px;
  text-align: center;
  color: var(--gray35);
}

.icons-img {
  width: 10%;
  margin-bottom: 10px;
}

.icons {
  display: flex;
  width: 100%;
}

.icons-inner {
  width: 33%;
  text-align: center;
}

.email {
  text-decoration: none;
  color: var(--black);
}

footer {
  padding: 30px 0;
}

/*start quote*/
.quote {
  padding: 60px 0;
  background-color: var(--gray55);
}

.quote-inside {
  width: 90%;
  margin: 0 auto;
}

.quote-inside h2 {
  font-size: 35px;
  padding-bottom: 50px;
  text-align: center;
}

.client-wraper {
  display: flex;
}

.client {
  display: flex;
  width: 50%;
}

.client p {
  padding: 20px 30px;
}

.photo-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 2px solid gray;
}

/*end quote*/

footer {
  background-color: var(--gray20);
}

.footer-title {
  color: var(--white);
  text-align: center;
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-item {
  list-style: none;
}

.footer-item a {
  text-decoration: none;
  color: var(--white);
  margin: 0 10px;
}

.footer-item a:hover {
  color: var(--gray40);
}

.socials {
  text-align: center;
  margin: 15px 0;
}

.socials-link {
  margin: 0 10px;
  text-decoration: none;
}

.socials-img:hover {
  transform: scale(1.2);
  border-radius: 50%;
}

.bottom-footer {
  color: var(--white);
  margin-top: 10px;
  text-align: center;
}

.git-link {
  text-decoration: none;
  color: var(--white);
}

.git-link:hover {
  color: var(--gray40);
}

@media (max-width: 900px) {
  .first-page {
    flex-flow: column;
  }

  .head-left {
    width: 100%;
    padding: 50px 0;
  }

  .head-right {
    background-size: cover;
    background-position: 100% 13%;
    height: 360px;
    width: 100%;
  }

  .subtitle {
    display: none;
  }

  .client-wraper {
    flex-flow: column;
  }

  .client {
    flex-flow: column;
    width: 100%;
  }

  .client p {
    margin-top: 20px;
    text-align: center;
  }

  .photo-img {
    display: flex;
    margin: 0 auto;
  }
}

/*hamburger menu */
@media (max-width: 600px) {
  .menu-icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
  }

  .menu-icon > span,
  .menu-icon > span::before,
  .menu-icon > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: var(--black);
  }

  .menu-icon > span::before {
    content: "";
    top: 8px;
  }

  .menu-icon > span::after {
    content: "";
    top: -8px;
  }

  .menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }

  .header-menu-iteam a {
    display: block;
    padding: 12px 24px;
    color: var(--gray15);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  #menu-btn:checked ~ .menu-icon > span {
    transform: rotate(45deg);
  }

  #menu-btn:checked ~ .menu-icon > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu-btn:checked ~ .menu-icon > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu-btn:checked ~ .menu-box {
    visibility: visible;
    right: 0;
  }

  .head-left {
    display: none;
  }

  .first-page .head-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 662px;
    background-position: 70%;
  }

  .head-right h1 {
    display: block;
    text-align: center;
    text-transform: uppercase;
  }

  .text-registration h1 {
    text-align: center;
  }

  .information {
    flex-flow: column;
  }

  .info-hospital-inside {
    flex-flow: column;
  }

  .icons {
    flex-flow: column;
    align-items: center;
  }

  .icons-inner {
    margin-top: 20px;
    width: 50%;
  }

  .paragraf-contact {
    margin-bottom: 40px;
  }

  .text-registration {
    flex-flow: column;
  }

  .register {
    margin: 40px 0 0 0;
  }
}
